<div class="d-flex justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginUserClick()">
        <input type="text" placeholder="enter name" formControlName="username">
        <br>
        <span style="color:red;" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"><small>Name is required and can contain only letters or numbers</small></span>
        <br><br>
        <input type="password" placeholder="enter password" formControlName="password">
        <br>
        <span style="color:red;" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"><small>Password is required & minimum length is 4</small></span>
        <br><br>
        <button [disabled]="loginForm.invalid" [ngClass]="loginForm.invalid ? 'btn btn-secondary btn-disabled' : 'btn btn-primary'">Submit</button>
    </form>
</div>
  