<app-header></app-header>
<h3 class="text-center my-5">{{title}}</h3>
<!-- <div style="display:flex; flex-direction: column; justify-content: center; align-items: center;"> -->
    <!--Setting fetchPriority="high" will let any image fetch first-->
    <!--
        <img src="./assets/images/weather.png" height="900" alt="Weather image">
        <img src="./assets/images/image.jpg" style="margin-top: 15px;" height="700" alt="Cat image" loading="lazy">
        <img src="./assets/images/enosis.jpg" style="margin-top: 15px;" height="700" alt="Cat image" loading="lazy">
        <img src="./assets/images/train.jpg" style="margin-top: 15px;" height="900" alt="Cat image" loading="lazy">
    -->
    <!-- <img ngSrc="./assets/images/weather.png" height="700" width="600" alt="Weather image" priority>
    <img ngSrc="./assets/images/image.jpg" height="700" width="600" style="margin-top: 15px;" alt="Cat image" priority>
    <img ngSrc="./assets/images/enosis.jpg" height="700" width="600" style="margin-top: 15px;" alt="Enosis image">
    <img ngSrc="./assets/images/train.jpg" height="700" width="600" style="margin-top: 15px;" alt="Train image" > -->
<!-- </div> -->
<router-outlet></router-outlet>